body, section, div, h1, p, ul, li{
    margin: 0;
    padding: 0;
}
body{
    background-color: #1f2120;
    color: #fff;
}
.s, .menu {
    display: grid;
}
.m-1 li {
    display: inline;
    list-style-type: none;
    grid-template-columns: 100vw;
    justify-content: center;
}
.s-1 {
    grid-template-columns: 25vw 20vw 10vw 20vw 25vw;    
}
.item{
    background-color: lightcoral;
}