body,
h1,
h2,
p {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: #1f2120;
    color: #fff;
    display: grid;
    grid-template-columns: 25vw 25vw 25vw 25vw;
}

h2 {
    color: #2b8772;
    text-transform: uppercase;
}

.menu {
    grid-column: 3/4;
}

.menu li {
    float: right;
    display: inline;
    list-style-type: none;
    padding: 11px 21px;
    text-transform: uppercase;
}

.menu a {
    text-decoration: none;
    color: #2b8772;
    font-weight: bold;

}

section {
    padding: 1.3em 0;
}

.home {
    grid-column: 2/4;
}

.experiencia {
    grid-column: 2/4;    
}

.experiencia li {
    align-items: center;
    display: inline;
}

.experiencia li img {
    height: 300px;
}

.contato {
    grid-column: 2/4;
}

@media (max-width: 700px){
    .menu, .home, .experiencia, .contato {
        background-color: blueviolet;
        grid-column: 1/4;
    }
    .home, .experiencia, .contato {
        padding: 15px 21px;
    }
    .menu li {
        float: none;
        display: block;
        margin: 0;
    }
}