body, section, nav, div, h1, p, ul, li{
    margin: 0;
    padding: 0;
}

body{
    background-color: #1f2120;
    color: #fff;
}

.grid-container {
  display: grid;
  /* grid-template-columns: 1fr 120px minmax(300px, 800px) 1fr; */
  grid-template-columns: 27% auto 27%;
}

.menu, .sobre, .experiencia, .contato, .direitos {
  grid-column: 2/2;
}

h1 {
  padding: 1em 0 1em 0;
  color: #2b8772;
}
a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.menu li {
  float: right;
  display: inline;
  list-style-type: none;
  margin-right: 35px;
  padding: 12px 0 12px 0;
}

section {
  margin-top: 4.7em;
}

.experiencia img {
  max-width: 180px !important;  
}

.experiencia li {
  list-style-type: none;
  display: inline;  
}



@media (max-width: 700px) {
  .grid-container {
    grid-template-columns: 100%;
  }
  section {
    margin-top: 2.5em;
  }
  .menu, .sobre, .experiencia, .contato, .direitos {
    grid-column: 1/1;
    padding: 0;
    margin: 0;
  } 
}







