body {
    /* background-color: #252625; */
    background-color: #1f2120;
    color: #fff;
}

.container {
    padding: 0;
    /* font-family: 'Bebas Neue', cursive;
            font-family: 'Cairo', sans-serif;
            font-family: 'Lalezar', cursive;
            font-family: 'Lobster', cursive; 
            font-family: 'PT Serif', serif;*/
}

.menu,
.navbar-brand {
    font-family: 'Bebas Neue', cursive;
    font-size: 1.38em;
}

h1 {
    font-family: 'Lalezar', cursive;
    font-size: 2.8em;
}


h4 {
    font-family: 'Bebas Neue', cursive;
    text-transform: uppercase;
    color: #2b8772;
    font-weight: bold;
}

.overlay {
    opacity: 0;
    transition: .5s ease;
    background-color: #2b8772;
}

.card {
    font-family: 'PT Serif', serif;
    /* font-size: 19.8px; */
}

.card-img {
    border-radius: 0;
}

.card:hover .overlay {
    border-radius: 0;
    opacity: 0.9;
}


.footer a {
    font-family: 'PT Serif', serif;
    font-size: 1.38em;
    color: #fff;
}

.footer a:hover {
    color: #2b8772;
    font-style: normal;
}

a.btn-green {
    border-radius: 0;
    background-color: #000;
    color: #fff;
    opacity: 1;
    padding: 13px 45px;
    text-decoration: none;
}